body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container__child {
    padding: 80px 0;
}


/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;

    background: url("../images/background.jpg")
    center no-repeat;
    background-size:cover ;
}

.intro__inner {
    width: 100%;
    max-width: 860px;
    margin: 0 auto;

    text-align: center;
}

.intro__title {
    color: #fff;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.intro__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;

    background-color: #fff;
}

.intro__suptitle {
    margin-bottom: 20px;

    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: #fff;
}

/* Header */
.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-weight: 700;
    font-size: 30px;
    color: #fff;
}


/* Nav */ 
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px; 
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:hover,
.nav__link.active {
    color: #fce38a;
}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;

    background-color: #fce38a;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover::after,
.nav__link.active::after {
    opacity: 1;
}


/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;

    border: 2px solid #fff;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;

    transition: background .1s linear,
    color .1s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}


/* Slider */
.slider {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    position: absolute;
    bottom: 0;
    z-index: 1;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
}

.slider__item {
    width: 24%;
    padding: 20px 0;
    position: relative;

    border-top: 3px solid #fff;

    opacity: .5;

    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}

.slider__num {
    font-weight: 700;
    font-size: 24px;
}

.slider__item.active {
    opacity: 1;
}

.slider__item.active::before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    background-color: #f38181;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}


/* Section */
.section__header {
    width: 100%;
    max-width: 960px;
    margin: 0 auto 80px;

    text-align: center;
}

.section__review {
    background-color: #f8f8f8;
}

.section__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.section__title {
    font-weight: 700;
    font-size: 30px;
    color: #333;
    text-transform: uppercase;
}

.section__title::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 40px auto;

    background-color: #f38181;
}

.section__text {
    font-size: 15px;
    color: #999;
}


/* Cards */
.cards__pictures {
    display: flex;
    justify-content: space-between;
}

.cards__pictures__item {
    width: 380px;
}

.cards__pictures__item__inner {
    background-color: #95e1d3;
}

.cards__pictures__item:hover 
.cards__pictures__img {
    transform: translate3d(
        -10px,-10px,0);
}

.cards__pictures__item:hover 
.cards__pictures__img img {
    opacity: .1;
}

.cards__pictures__img {
    position: relative;
    background: linear-gradient(
        #f38181,#fce38a);

    transition: transform .2s linear;
}

.cards__pictures__img img {
    display: block;
    transition: opacity .2s linear;
}

.cards__pictures__text {
    width: 100%;

    position: absolute;
    top: 50%;
    opacity: 0;

    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;

    transition: opacity .2s linear;
}

.cards__pictures__item:hover 
.cards__pictures__text {
    opacity: 1;
}

.cards__item__info {
    text-align: center;

    margin-top: 20px;
}

.cards__name {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
}

.cards__prof {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #999;
}


/* Stats */
.stats__cards {
    background-color: #95e1d3;
}

.stats__inner {
    display: flex;
}

.stat__item {
    flex: 1 1 0;
    padding: 50px 20px;

    color: #fff;
    text-align: center;

    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.stat__item:last-child {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.stat__num {
    font-weight: 700;
    font-size: 56px;
    line-height: 1;
}

.stat__text {
    font-size: 14px;
    text-transform: uppercase;
}


/* Services */
.service__line {
    display: flex;

    margin: 40px 0;
}

.service__item {
    flex: 1 1 0;
    position: relative;
}

.service__title {
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
    font-weight: 700;

    padding-left: 50px;
    padding-bottom: 5px;
}

.service__text {
    font-size: 15px;
    color: #999;

    padding-left: 50px;
}

.service__icon {
    position: absolute;
    padding-left: 10px;
}

hr {
    opacity: .3;
}


/* Devices */
.section__devices {
    background: 
    url("../images/devices_background.jpg")
    center no-repeat;
    background-size: cover;
}

.container__child--devices {
    padding-bottom: 0;
}

.devices {
    width: 100%;
    max-width: 600px;

    margin: 0 auto;

    position: relative;
}

.devices__item--ipad {
    width: 450px;

    position: relative;
    bottom: -7px;
}

.devices__item--iphone {
    width: 240px;
    height: 450px;

    position: absolute;
    right: 0;
    bottom: -70px;
}


/* What we do */
.section__whatwedo {
    padding-top: 40px;
}

.whatwedo__content {
    display: flex;
}

.whatwedo__item {
    flex: 1 1 0;
    width: 45%;
}

.whatwedo__item--accordion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.accordion__item {
    padding-left: 30px;
    margin-bottom: 10px;
}

.accordion__item--active 
.accordion__item__header::after {
    transform: rotate(-45deg);
    margin-top: -5px;
}

.accordion__item__title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #333;

    padding-left: 50px;
}

.accordion__item__header {
    position: relative;
    padding: 15px 20px;

    border: 1px solid #e5e5e5;
}

.accordion__item__header::after{
    content: "";
    display: block;
    height: 15px;
    width: 15px;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

    transform: translateY(-50%)
    rotate(135deg);

    border-top: 3px solid #ccc;
    border-right: 3px solid #ccc;
}

.accordion__item__icon {
    position: absolute;
    top: 50%;
    left: 20px;

    transform: translateY(-50%);
}

.accordion__item__content {
    padding: 20px;
    font-weight: 300;

    border: 1px solid #e5e5e5;
    border-top: 0;

    font-size: 15px;
    font-style: italic;
    color: #ccc;
}


/* Review */
.review {
    position: relative;
    padding: 0 110px;
}

.review__photo {
    position: absolute;
    top: 0;
    left: 110px;
    z-index: 1;
}

.review__text {
    padding-left: 210px;
    margin-bottom: 10px;

    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    color: #999;
    
}

.review__author {
    padding-left: 210px;

    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    color: #333;
}

.review__author::before {
    content: "";
    display: inline-block;
    vertical-align: middle;

    width: 60px;
    height: 3px;
    margin-right: 10px;

    background-color: #f38181;
}

.review__btn {
    font-size: 0;
    color: transparent;

    position: absolute;
    top: 50%;

    transform: translateY(-50%);
}

.review__btn::after {
    content: "";
    display: block;
    height: 15px;
    width: 15px;

    border-top: 3px solid #ccc;
    border-right: 3px solid #ccc;
}

.review__btn--prev {
    left: 0;

    transform: rotate(-135deg);
}

.review__btn--next {
    right: 0;

    transform: rotate(45deg);
}


/* Social */
.social {
    display: flex;
    justify-content: center;
}

.social__item {
    width: 55px;
    height: 55px;
    padding: 5px;

    background-color: #fce38a;

    border-right: 1px solid #f38181;

    text-decoration: none;
    color: #f38181;
    font-size: 30px;

    transition: background .2s linear,
    color .2s linear;
}

.social__item:hover {
    background-color: #f38181;
    color: #fff;
}

.social__item:last-child {
    border: 0;
}